@{
    ViewData["Title"] = "About Page";
}

@model List<ACLEDABank.Models.BankAccount>
<h2>🏦 ACLEDA Bank - All Accounts</h2>
<p>Owner: @ViewBag.Owner</p>
<p>Balance: @ViewBag.Balance</p>

<h3> Saving Account</h3>
<p>Owner: @ViewBag.SavingOwner</p>
<p>Balance with Interest: $@ViewBag.SavingBalance</p>

<h3> Loan Account</h3>
<p>Owner: @ViewBag.LoanOwner</p>
<p>Monthly Payment: $@ViewBag.MonthlyPayment</p>
