@model List<BankAccount>

<h2>🏦 ACLEDA Bank - All Accounts</h2>

<a href="/Home/CreateAccount">➕ Open New Account</a>
<br />
<br />

<table border="1" style="width:100%">
    <tr>
        <th>ID</th>
        <th>Owner Name</th>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Account</th>
    </tr>

    @foreach (var acc in Model)
    {
        <tr>
            <td>@acc.ID</td>
            <td>@acc.OwnerName</td>
            <td>@acc.AccountNumber</td>
            <td>$@acc.Balance</td>
            <td>
                <a href="/Home/Details/@acc.ID">
                    👁️ View
                 </a>
                 &nbsp;
                 <a href="/Home/Delete/@acc.ID"
                    onclick="return confirm('Are you sure you want to delete @acc.OwnerName account?');">
                    🗑️ Delete
                  </a>
            </td>
        </tr>
    }
</table>